# ==============================
# Python / Jupyter noise
# ==============================
__pycache__/
.ipynb_checkpoints/
*.pyc
.DS_Store

# ==============================
# heavy artifact: data
# ==============================
data/
data/**
models/
*.pkl
*.joblib
